@model IEnumerable<Arac>
@{
    ViewData["Title"] = "Arama Sonuçları";
}

<h1>Arama Sonuçları</h1>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <partial name="_PartialAracView" />
    </div>
</div>