@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Oto Servis ve Satış .Net Core MVC</h1>
    <p>.Net Framework ile geliştirdiğimiz Oto Servis ve Satış uygulamasının ASP.NET Core MVC versiyonu..</p>
</div>
